# Credentials Google Cloud Platform (pour extraction BigQuery)
GOOGLE_APPLICATION_CREDENTIALS=path/to/your-service-account.json
GCP_PROJECT_ID=your-gcp-project-id

# Dataset BigQuery
BQ_DATASET=gdelt-bq.gdeltv2
BQ_TABLE=events

# Optionnel : chemin local du dataset final
#DATA_PATH=data/GDELT_events_benin_2025_cleaned.csv
